.new-tweet {
  font-weight: bold;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit {
  font-weight: bold;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
}


#tweet-text {
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 3px solid;
  margin-bottom: 1em;
  resize: none;
  font-weight: bold;
}