.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit {
  font-weight: bold;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
}


#tweet-text {
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 3px solid;
  margin-bottom: 1em;
  resize: none;
  font-weight: bold;
}

.redcolor {
  color: red;
}

#errors {
  border: 1px solid;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  color: #D8000C;
  background-color: #FFBABA;
  display: none;
}

p {
  word-wrap: break-word;
}